// Footer
.footer {
  background-color: var(--footer-section-color);

  &-wrap {
    padding: 60px 15px;
    // styles for screen 480px
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
      justify-content: space-around;
      flex-direction: row;
      align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &-wrap__contacts {
    margin-bottom: 60px;

    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &-wrap__logo {
    color: var(--primary-white-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }

  &-wrap__location {
    color: var(--primary-white-color);

    margin-top: 20px;
    margin-bottom: 9px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
  }
}

.footer-contacts__link {
  color: var(--lower-contacts-color);

  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

// Блок соц. сетей
.social-networks {
  margin-bottom: 60px;

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.social-networks__title {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-networks__link {
  transition: color var(--transition-function), background-color var(--transition-function);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: var(--hover-text-color);
    color: var(--primary-white-color);
  }

  & + & {
    margin-left: 10px;
  }
}
