.logo,
.references__link,
.link {
  color: var(--header-text-color);
}

.logo {
  display: block;

  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }

  &__part {
    color: var(--hover-text-color);
  }
}
