// Примеры работ
.portfolio {
  background-color: var(--primary-white-color);
}
.buttons {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: -15px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width: 767px) {
    &__item {
      margin-top: 15px;
    }
    // &__item:nth-child(4) {
    //   margin-left: 0;
    // }

    // &__item:nth-child(n + 4) {
    //   margin-top: 15px;
    // }
  }
}

.labors {
  margin-left: -30px;
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  &-wrap {
    position: relative;
    overflow: hidden;
  }

  &-wrap__title {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--header-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &-wrap__description {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.87;
  }

  &-wrap__item {
    flex-grow: 1;
    padding: 20px 24px;

    border-left: 1px solid var(--secondary-white-color);
    border-right: 1px solid var(--secondary-white-color);
    border-bottom: 1px solid var(--secondary-white-color);
  }
}

.labors__part {
  transition: box-shadow var(--transition-function);

  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.labors-wrap__text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);

  font-size: 18px;
  line-height: 1.56;

  transform: translateY(101%);
  transition: transform var(--transition-function);

  .labors__part:hover & {
    transform: translateY(0);
  }
}
