// Технологии

.technologies-wrap {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.technologies-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;

  &__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    position: relative;
  }
}

.tech-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(47, 48, 58, 0.8);

  &__text {
    margin: 0;

    min-width: 210px;

    color: var(--primary-white-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}
